/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff3000;
  --ifm-color-primary-dark: #e62b00;
  --ifm-color-primary-darker: #d92900;
  --ifm-color-primary-darkest: #b32200;
  --ifm-color-primary-light: #ff4719;
  --ifm-color-primary-lighter: #ff5426;
  --ifm-color-primary-lightest: #ff7a59;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff5a3a;
  --ifm-color-primary-dark: #ff3000;
  --ifm-color-primary-darker: #f02d00;
  --ifm-color-primary-darkest: #c62500;
  --ifm-color-primary-light: #ff7a5f;
  --ifm-color-primary-lighter: #ff8a73;
  --ifm-color-primary-lightest: #ffb8a8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
